@model WebsiteQuaTangOnline.Models.GIOHANG
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}
<script>
    var url="@Url.Action("UpdateProduct")"
</script>
<div class="box">
    <div class="title">
        <h3>Giỏ hàng</h3>
    </div>
    <div class="wrap-cart">
        <table>
            <tr class="header-table">
                <th width="60%">Sản phẩm</th>
                <th width="10%">Số lượng</th>
                <th width="10%">Đơn giá</th>
                <th width="15%">Thành tiền</th>
                <th width="5%">Xóa</th>
            </tr>
            @try
            {
                
                if(Model!=null)
                {
                    foreach(var item in Model.ListProduct)
                    {
                        <tr>
                            <td class="pro-info">@item.TenSanPham</td>
                            <td><input id="soluong" name="@item.MaSanPham"
                                        type="number"
                                        value="@item.SoLuong"
                                       data-number="@item.SoLuong"
                                        class="giohang"
                                        style="width:60px"
                                        onchange='update()'/></td>
                            <td>@item.DonGia</td>
                            <td>@(item.DonGia*item.SoLuong)</td>
                            <td>@Html.ActionLink("Xóa", "DeleteProduct", new { id = item.MaSanPham })</td>
                        </tr>  
                    }
                }

            }
            catch { }
        </table>
        
        <div class="tongtien" style="float:right">
            <p>Tổng tiền: @Model.TotalMoney() </p>
        </div>
        <div style="clear:both"></div>
        <div style="float:right"><a href="Pay" id="thanhtoan">Thanh Toán</a></div> 
        <div style="clear:both"></div>
    </div>
</div>
<script src="~/Scripts/GioHang.js"></script>