
	@{
		ViewBag.Title = "Index";
		Layout = "~/Views/MasterPage/Default.cshtml";
	}

	<div class="top-content">
		<div class="wrap">
			<h3>Sản phẩm mới</h3>
			<div class="list-product">
				@try
				{
					foreach (var item in Model.SANPHAMs)
					{
						<div class="product-item">
							<div class="img">
								<a href="/Home/InfoProduct/?id=@item.MaSanPham">
									<img src="@item.UrlHinhAnh" />
								</a>
							</div>
							<div class="name-product">
								<a href="/Home/InfoProduct/?id=@item.MaSanPham">
									@item.TenSanPham
								</a>
							</div>
							<div class="price">
								<p>@item.DonGia đồng</p>
							</div>
							<div class="foot">
								<a href="/Home/AddProduct/?id=@item.MaSanPham" class="button">Đặt Mua</a>
							</div>
						</div>
					}

				}
				catch { }


			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	<div class="list-news">
		<div class="wrap">
			<h3>Tin Tức</h3>
			@try
			{
				foreach (var item in Model.TINTUCs)
				{
					<div class="new-item">
						<div class="new-img">
							<a href="/Home/InfoNews/?id=@item.MaTinTuc">
								<img src="@item.UrlHinhAnh" />
							</a>
						</div>
						<div class="new-info">
							<a href="/Home/InfoNews/?id=@item.MaTinTuc">@item.TieuDe</a>
							<p>
								@item.MoTa
							</p>
						</div>
						<div style="clear:both"></div>
					</div>
				}
			}
			catch { }

			<div style="clear:both"></div>
		</div>
	</div>
