@model WebsiteQuaTangOnline.Models.TINTUC

@{
    ViewBag.Title = "News";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<div class="box">
    <div class="title">
        <h3>@Model.TieuDe</h3>
    </div>
    <div class="cotainer">
        <div class="news-content">
            <br />
            <i>@Model.NgayDang</i><br />
            @Model.NoiDung
        </div>
		<div class="des-news">
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_1.jpg")" style="width: 500px; height: 750px"/>
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_2.jpg")" style="width: 500px; height: 750px"/>
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_3.jpg")" style="width: 500px; height: 750px"/>
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_4.jpg")" style="width: 500px; height: 750px"/>
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_5.jpg")" style="width: 500px; height: 750px"/>
		</div>

        <div class="facebook-comment">

        </div>
        <div class="news-related">
            <h3>Danh sách tin tức</h3>
            @try
            {
                IEnumerable<WebsiteQuaTangOnline.Models.TINTUC> dsTin = (IEnumerable<WebsiteQuaTangOnline.Models.TINTUC>)ViewData["DSTin"];
                foreach(var tin in dsTin)
                {
                    <li>
                        <a href="/Home/InfoNews/?id=@tin.MaTinTuc">@tin.TieuDe</a>
                    </li>
                }
            }
            catch { }
                 
        </div>
    </div>
   
</div>
