@model WebsiteQuaTangOnline.Models.SANPHAM

@{
    ViewBag.Title = "InfoProduct";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<div class="box">
    <div class="title">
        <h3>@Model.TenSanPham</h3>
    </div>
    <div class="cotainer">
        <div class="info-product-content">
            <div class="top">
                <div class="img-pro">
                    <img src="@Model.UrlHinhAnh" />
                </div>
                <div class="info-pro">
                    <p>Hãng sản xuất: @Model.NhaSanXuat</p>
                    <p>Số lượng: 1</p>
                    <p>Mã sản phẩm: @Model.MaSanPham</p>
                    <div id="gia-tien">
                        @Model.DonGia.ToString("#,###") VNĐ
                    </div>
                    <div class="control">         
                        @Html.ActionLink("Thêm vào giỏ", "AddProduct", new { id = @Model.MaSanPham})
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="bottom">
                @Model.MoTa
            </div>   
        </div>
        <div class="facebook-comment">
            <!--lugin facebook cmt-->
        </div>       
 
        <div style="clear:both"></div>
    </div>
</div>
