@model WebsiteQuaTangOnline.Models.TINTUC

@{
    ViewBag.Title = "News";
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<div class="box">
    <div class="title">
        <h3>@Model.TieuDe</h3>
    </div>
    <div class="cotainer">
        <div class="news-content">
            @Model.NoiDung
        </div>
		<div class="des-news">
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_1.jpg")" />
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_2.jpg")" />
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_3.jpg")" />
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_4.jpg")" />
			<img src="@("/Content/upload/images/Tin tuc/news" + @Model.MaTinTuc + "_5.jpg")" />
		</div>

        <div class="facebook-comment">

        </div>
        <div class="news-related">
            <h3>Danh sách tin tức</h3>
              <li>
                  <a href="#">Quà tặng công nghệ - Xu hướng mới dịp tết Ất Mùi</a>
              </li>
              <li>
                  <a href="#">Gợi ý 2 cách bó hoa hồng ấn tượng mà dễ dàng</a>
              </li>
        </div>
    </div>
   
</div>
