@{
	ViewBag.Title = "UpdateProduct";
	Layout = "~/Views/adminLayout.cshtml";
}
@model WebsiteQuaTangOnline.Models.SANPHAM
<div class="container">
	<div class="row">
		<h1 class="text-center">Quản lý sản phẩm</h1>
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default panel-table">
				<div class="panel-heading">
					<div class="row">
						<div class="col col-xs-6">
							<h3 class="panel-title">Sửa thông tin sản phẩm</h3>
						</div>
					</div>
				</div>
				<div class="panel-body">
					@using (Html.BeginForm("UpdateProductSuccess", "Admin", FormMethod.Post))
					{
						<table class="add-item">
							<tr style="display:none">
								<td class="col-md-2">Mã sản phẩm: </td>
								<td class="col-md-9">@Html.TextBoxFor(m => m.MaSanPham, new { name = "MaSanPham" })</td>
							</tr>
							<tr>
								<td class="col-md-2">Tên sản phẩm: </td>
								<td class="col-md-9">@Html.TextBoxFor(m => m.TenSanPham, new { name = "TenSanPham" })</td>
							</tr>
							<tr>
								<td class="col-md-2">Loại sản phẩm: </td>
								<td class="col-md-9">
                                    <select name="MaLoaiSanPham" class="dropdown-select">
                                        @foreach (var item in WebsiteQuaTangOnline.Models.ModelMethod.LoadCategory())
                                        {
                                            if(item.MaLoaiSanPham==Model.MaLoaiSanPham)
                                            {
                                                <option selected="selected" value="@item.MaLoaiSanPham">@item.TenLoaiSanPham</option>
                                            }
                                            else
                                            {
                                                <option value="@item.MaLoaiSanPham">@item.TenLoaiSanPham</option>
                                            }
                                            
                                        }
                                    </select>
                                </td>
							</tr>
							<tr>
								<td class="col-md-2">Nhà sản xuất: </td>
								<td class="col-md-9">@Html.TextBoxFor(m => m.NhaSanXuat, new { name = "NhaSanXuat" })</td>
							</tr>
							<tr>
								<td class="col-md-2">Hình ảnh: </td>
								<td class="col-md-9">
                                    @Html.TextBoxFor(m => m.UrlHinhAnh, new { name = "UrlHinhAnh", id = "Image" })
                                    <input type="button" value="Chọn file" id="btnSelectImg" class="btn" style="width:10%" onclick="BrowseServer()" />
                                </td>
							</tr>
							<tr>
								<td class="col-md-2">Mô tả: </td>
								<td class="col-md-9">
									@Html.TextAreaFor(m => m.MoTa, new { @id = "mota_update", name = "MoTa" })
									<script>
										CKEDITOR.replace('mota_update', {
											filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
											filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?Type=Images',
											filebrowserFlashBrowseUrl: '/ckfinder/ckfinder.html?Type=Flash',
											filebrowserUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
											filebrowserImageUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
											filebrowserFlashUploadUrl: '/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash'
										});
									</script>
								</td>
							</tr>
							<tr>
								<td class="col-md-2">Giá bán: </td>
								<td class="col-md-9">@Html.TextBoxFor(m => m.DonGia, new { name = "DonGia" })</td>
							</tr>
							<tr>
								<td class="col-md-2">Số lượng: </td>
								<td class="col-md-9">@Html.TextBoxFor(m => m.SoLuong, new { name = "SoLuong" })</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<div class="col col-xs-1 text-right">
										<button type="submit" class="btn btn-sm btn-primary btn-create">Cập nhật</button>
									</div>
								</td>
							</tr>
						</table>
					}
				</div>
			</div>
		</div>
	</div>
</div>
